<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <div class="homepage">
            <div class="barra_superior">
                <a href="..."><img src="../static/img/usuario_botao.png" alt="" class="conta_usuario"></a>
                <img src="../static/img/logo-inv68-branco.png" alt="Logo do Inventário 68" class="logo_inv68">
            </div>

            <div class="cards_grade">
                <div class="card">
                    <img src="../static/img/proj1.png" class="" alt="Imagem de projeto de alunos">
            
                    <div class="card_body">
                        <h5>Nome do projeto</h5>
                        <a href="" class="">Veja mais</a>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/proj1.png" class="" alt="Imagem de projeto de alunos">
            
                    <div class="card_body">
                        <h5>Nome do projeto</h5>
                        <a href="" class="">Veja mais</a>
                    </div>
                </div>
            </div>

            <nav class="navbar_inferior">
                <a href="..."><img src="../static/img/inventario_botao.png" alt="botao para o inventario" class="inventario"></a>
                <a href="..."><img src="..//static/img/add_botao.png" alt="botão de adicionar" class="addProj"></a>
                <a href="..."><img src="..//static/img/projetos_botao.png" alt="botão para projetos" class="projetos"></a>
            </nav>
        </div>
    </body>
</html>